
/// VARIABLES /////////////////////////////////////////////////////////////////

$font-stack: Helvetica, sans-serif;

// media queries
$sm: "screen and (min-width: 35.5em)";
$md: "screen and (min-width: 48em)";
$lg: "screen and (min-width: 64em)";
$xl: "screen and (min-width: 80em)";

$color-0: #202d79;  // dark blue
$color-1: #3394ce;  // med blue
$color-2: #4ad2f0;  // light blue

$color-a: #6bb340;  // fellowship green
$color-b: #d0f400;  // neon green

// tag colors
$tag-color-0: #3394ce;
$tag-color-1: #3367ce;
$tag-color-2: #5d5dff;
$tag-color-3: #9351ce;
$tag-color-4: #ce59c5;
$tag-color-5: #f85353;
$tag-color-6: #ff8b3c;
$tag-color-7: #afce33;
$tag-color-8: #6bce55;
$tag-color-9: #33ceb4;

$text-color-0: #222;
$text-color-1: #444;
$text-color-2: #999;

$max-content-width: 80em;


/// MIXINS ////////////////////////////////////////////////////////////////////

@mixin link-defaults {
    color: $color-1;
    text-decoration: none;
    &:hover, &:focus { text-decoration: underline }
}

@mixin shadow($left: 0.2em, $down: 0.2em) {
    box-shadow: $left $down rgba(0, 0, 0, 0.2);
}

// (http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best)
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}


/// BASE STYLES ///////////////////////////////////////////////////////////////

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: $text-color-1;
    font-size: 13px;
    background-color: #666;
}


/// HEADER MENU ///////////////////////////////////////////////////////////////

.header-menu.pure-menu.pure-menu-open{
    z-index: 4;
    font-size: 120%;
    border: none;
    padding: 0.3em 0;

    background-color: $color-1;
    @include shadow($left: 0);

    // ul { float: right; }
    a.pure-menu-heading { font-size: 110%; }
    a {
        color: $color-2;
        border-width: 0;

        &:hover,
        &:focus {
            background-color: $color-1;
            color: white;
        }
    }
    .pure-menu-selected a { color: white; }
    .heading-selected { color: white; }
}



/// SPLASH ////////////////////////////////////////////////////////////////////

.splash-image-container {
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    overflow: hidden;

    //default background style
    background-image: linear-gradient($color-a, $color-b);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.splash-scroll-over {
    // These styles are required for the "scroll-over" effect
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 59%;
    overflow: hidden;
}

.splash-align-bottom {
    position: absolute;
    width: 100%;
    bottom: 1em;
}

.splash-limit-width {
    height: 100%;
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0;
}

.splash {
    margin: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    h2 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.5em;
    }

    p {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
    }
}


/// PAGE WITH CONTENT & FOOTER ////////////////////////////////////////////////

.page {
    // These styles are required for the "scroll-over" effect
    position: absolute;
    z-index: 2;
    top: 59%;
    width: 100%;
    background-color: white;
}

.content {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0;
}

.footer {
    .pure-menu.pure-menu-open.pure-menu-horizontal{
        border: none;
        padding: 0;
        background-color: $color-1;
        @include shadow($left: 0, $down: -0.1em);

        a {
            color: $color-2;
            border-width: 0;

            &:hover,
            &:focus {
                background-color: $color-1;
                color: white;
            }
        }
        .pure-menu-selected a { color: white; }
    }
}

/// CONTENT STYLES ////////////////////////////////////////////////////////////

.powered-by {
    text-align: right;
    padding: 0 1em;
    color: #ddd;
    font-size: 70%;

    a { color: #ccc; }
}

a.tag {
    position: relative;
    margin: 0 0.1em;
    padding: 0.3em 0.6em;
    color: white !important;
    background: #999;
    font-size: 80%;
    text-decoration: none;
    &:hover,
    &:focus {
        top: -0.1em;
        @include shadow;
    }
}
a.tag0 { background-color: $tag-color-0; }
a.tag1 { background-color: $tag-color-1; }
a.tag2 { background-color: $tag-color-2; }
a.tag3 { background-color: $tag-color-3; }
a.tag4 { background-color: $tag-color-4; }
a.tag5 { background-color: $tag-color-5; }
a.tag6 { background-color: $tag-color-6; }
a.tag7 { background-color: $tag-color-7; }
a.tag8 { background-color: $tag-color-8; }
a.tag9 { background-color: $tag-color-9; }



.content {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 500;
        line-height: 1.5em;
        color: $color-0;
        margin: 1em 0 0 0;
        a {
            color: $color-0;
            text-decoration: none;
        }
    }
    h1 { font-size: 3em; }
    h2 { font-size: 2.5em; }
    h3 { font-size: 2em; }
    h4 { font-size: 1.5em; }
}

.article-info {
    color: $text-color-2;
    margin: 0;

    & > a { @include link-defaults(); }

    abbr{  border: none; }
}


.article-list {

    h1.section-head {
        text-transform: uppercase;
        color: #aaa;
        border-bottom: 1px solid #eee;
        padding: 0.4em 0;
        font-size: 80%;
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    .article-title {
        font-size: 2em;
        margin: 0;
    }

    .article-summary {
        margin: 1em 0;

        .summary {
            //font-family: Georgia, "Cambria", serif;
            margin: 1em 0;
        }

        .more {
            position:relative;
            top: -0.3em;
            a { @include link-defaults(); }
        }
    }

    .feature-ribbon {
        margin: 1em 0;
        //border: 1px solid #eee;
        background-image: linear-gradient(#f7ffc5, #fcffea);
    }

    .feature-summary {
        padding: 1em;

        .feature-title {
            font-size: 1.3em;
            margin:0;
            padding:0;
        }

        .summary {
            font-size: 95%;
            //font-family: Georgia, "Cambria", serif;
            //margin: 1em 0;
        }

        .more {
            a { @include link-defaults(); }
        }
    }
}


.sidebar {
    @media #{$sm} {
        float: right;
        padding-left: 1em;
        margin-left: 1em;
    }
}

.author-box {
    display: inline-block;
    margin: 1em 1em 1em 0;
    @media #{$sm} {
        display: block;
        margin: 0 0 1em 0;
    }
}

a.author-name {
    @include link-defaults();
    color: $text-color-0;
}

.author-img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    max-width: 12em;

    @media #{$lg} {
        max-width: 15em;
    }
}



/// MEDIA-SPECIFIC ADAPTIONS //////////////////////////////////////////////////

// at least a small device
@media #{$sm} {

    // content doesn't stick to the edges any more
    .content { padding: 0 1em; }

    // splash doesn't stick to the edges any more
    .splash-limit-width { padding: 0 1em; }

    // splash gets stylized "speech bubble" design
    .splash{
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}

// at least a medium device
@media #{$md} {

    // all fonts get bigger
    body { font-size: 16px; }

    // content gets more room
    .content { padding: 0 2em; }

    // splash gets more room
    .splash-limit-width { padding: 0 2em; }

    // splash doesn't try to get full width any more
    .splash {
        display: inline-block;
        max-width: 60%
    }

    // menu gets split up in left and right part
    .header-menu {
        text-align: left;
        ul { float: right; }
    }
}

