{% extends 'base.html' %}

{% block content %}

    {% set featured_articles = articles_page.object_list|selectattr('featured')|list %}
    {% if featured_articles %}
        <div class="article-list">
            <h1 class="section-head">Featured</h1>
            <div class="pure-g feature-ribbon">
                {% if featured_articles|length == 1 %}
                    <div class="pure-u-1">
                        {{ macros.feature_summary(featured_articles[0]) }}
                    </div>
                {% elif featured_articles|length == 2 %}
                    <div class="pure-u-1 pure-u-md-2-5">
                        {{ macros.feature_summary(featured_articles[0]) }}
                    </div>
                    <div class="pure-u-1 pure-u-md-3-5">
                        {{ macros.feature_summary(featured_articles[1]) }}
                    </div>
                {% else %}
                    {% for article in featured_articles[:3] %}
                        <div class="pure-u-1 pure-u-md-1-3">
                            {{ macros.feature_summary(article) }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}


    {% set common_articles = articles_page.object_list|rejectattr('featured')|list %}
    {% if common_articles %}
        <div class="article-list">
            <h1 class="section-head">Weitere Artikel</h1>
            {% for article in common_articles %}
                {{ macros.article_summary(article) }}
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}
