{# ex: set ft=htmljinja.jinja.html sw=4 ts=4 et: #}
{% extends "base.html" %}


{# web page title #}
{% block title %}{{ super() }}: {{ article.title|striptags}}{%endblock%}


{# html metadata #}
{% block html_metadata %}
    {{ super() }}
    {% for keyword in article.keywords %}
        <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    {% for description in article.description %}
        <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
    {% endfor %}
{% endblock %}


{# splash image #}
{% block splash_style %}
    {% if article.splash_image %}
        background-image: url('{{ SITEURL }}/{{ article.splash_image }}');
        {% if article.splash_image_position %}
            background-position: {{ article.splash_image_position }};
        {% endif %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


{# splash text #}
{% block splash %}
    {{ macros.splash(article) }}
{% endblock %}


{# content #}
{% block content %}
    <article>
        <header>
            <h1>
                {{ macros.title_link(article) }}
            </h1>
            {{ macros.info(article, display_authors=false) }}
        </header>
        <div class="clearfix">
            {% if article.authors %}
                {{ macros.author_sidebar(article.authors, FSFE_AUTHORS) }}
            {% endif %}
            {{ article.content }}
        </div>
    </article>
{% endblock %}
