{# ex: set ft=htmljinja.jinja.html sw=4 ts=4 et: #}
{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {# meta, title #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    {% block html_metadata %}
    {% endblock %}

    {# CSS: Pure #}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/vendor/pure-0.5.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/vendor/pure-0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/vendor/pure-0.5.0/grids-responsive-min.css">
    <!--<![endif]-->

    {# CSS: Font Awesome #}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/vendor/font-awesome-4.1.0/css/font-awesome.min.css">

    {# CSS: FSFE Theme #}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fsfe.css">

    {# Feeds #}
    {% include 'feeds.html' %}
</head>

<body>
    <div class="header-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading {% if page_name == 'index' %}heading-selected{% endif %}"
           href="{{ SITEURL }}"><i class="fa fa-home"></i> {{ SITENAME }}</a>
        <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="pure-menu-selected"{% endif %}>
                        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES|selectattr('in_header_menu') %}
                    <li{% if p == page %} class="pure-menu-selected"{% endif %}>
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="splash-image-container"
         style="{% block splash_style %}
                    {% if FSFE_DEFAULT_SPLASH_IMAGE %}
                        background-image: url('{{ SITEURL }}/{{ FSFE_DEFAULT_SPLASH_IMAGE }}');
                        {% if FSFE_DEFAULT_SPLASH_IMAGE_POSITION %}
                            background-position: {{ FSFE_DEFAULT_SPLASH_IMAGE_POSITION }};
                        {% endif %}
                    {% endif %}
                {% endblock %}">
    </div>

    <div class="splash-scroll-over">
        <div class="splash-align-bottom">
            <div class="splash-limit-width">
                {% block splash %}
                    {% if FSFE_DEFAULT_SPLASH_TITLE or FSFE_DEFAULT_SPLASH_TEXT %}
                        <div class="splash">
                            {% if FSFE_DEFAULT_SPLASH_TEXT %}
                                <p>{{ FSFE_DEFAULT_SPLASH_TEXT }}</p>
                            {% endif %}
                            {% if FSFE_DEFAULT_SPLASH_TITLE %}
                                <h2>{{ FSFE_DEFAULT_SPLASH_TITLE }}</h2>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="page">

        <div class="content">

            {#
            {% for page in PAGES %}
                <div style="border:1px solid red;">
                    {{ page }}<br>
                </div>
            {% endfor %}
            #}

            {% block content %}
            {% endblock %}

            <div class="powered-by">
                Proudly powered by Free Software:
                <a href="http://python.org">Python</a>,
                <a href="http://getpelican.com/">Pelican</a> and
                <a href="http://purecss.io">Pure</a>.
            </div>
        </div>

        {% if DISPLAY_PAGES_ON_MENU %}
            <div class="footer">
                <div class="pure-menu pure-menu-open pure-menu-horizontal">
                    <ul>
                        {% for p in PAGES %}
                            <li{% if p == page %} class="pure-menu-selected"{% endif %}>
                                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>
