{# ex: set ft=htmljinja.jinja.html sw=4 ts=4 et: #}
{% extends 'articles.html' %}


{% if TITLE_PAGES and TITLE_PAGES.categories and TITLE_PAGES.categories[category.slug] %}
    {% set title_page = TITLE_PAGES.categories[category.slug] %}
{% endif %}


{# splash image #}
{% block splash_style %}
    {% if title_page and title_page.splash_image %}
        {{ macros.splash_style(title_page) }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


{# splash text #}
{% block splash %}
    {% if title_page %}
        {{ macros.splash(title_page) }}
    {% endif %}
{% endblock %}


{# content #}
{% block content %}
    {% if title_page %}
        <article>
            <header>
                <h1>{{ title_page.title }}</h1>
                {{ macros.info(title_page, display_authors=false) }}
            </header>
            <div class="clearfix">
                {{ title_page.content }}
            </div>
        <article>
    {% else %}
        <h1>{{ category }}</h1>
    {% endif %}
    {{ super() }}
{% endblock %}

