{# ex: set ft=htmljinja.jinja.html sw=4 ts=4 et: #}


{# choose correct singular/plural form to address the element(s) of stuff #}
{% macro pluralize(stuff, singular, plural) -%}
    {% if stuff|length == 1 %}{{ singular }}{% else %}{{ plural }}{% endif %}
{%- endmacro %}


{# make splash image for page object (article or page) #}
{% macro splash_style(pobj) %}
    background-image: url('{{ SITEURL }}/{{ pobj.splash_image }}');
    {% if pobj.splash_image_position %}
        background-position: {{ pobj.splash_image_position }};
    {% endif %}
{% endmacro %}


{# make splash content for page object (article or page) #}
{% macro splash(pobj) %}
    {% if pobj.splash_title or pobj.splash_text %}
        <div class="splash">
            {% if pobj.splash_title %}
                <h2>{{ pobj.splash_title }}</h2>
            {% endif %}
            {% if pobj.splash_text %}
                <p>{{ pobj.splash_text }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}


{# make title link for page object (article or page) #}
{% macro title_link(pobj) %}
    <a href="{{ SITEURL }}/{{ pobj.url }}"
       rel="bookmark"
       title="Permalink to {{ pobj.title|striptags }}">{{ pobj.title }}</a>
{% endmacro %}


{# make author sidebar #}
{% macro author_sidebar(authors, author_dict={}) %}
    <div class="sidebar">
        {% for author in authors %}
            <div class="author-box">
                {% if author.name in author_dict %}
                    <div>
                        {% set fsfe_author = author_dict[author.name] %}
                        <a href="{{ SITEURL }}/{{ author.url }}">
                            <img class="author-img"
                                 src="{{ SITEURL }}/{{ fsfe_author.image }}"
                                 alt="{{ author }}"
                                 title="{{ author }}"></a>
                    </div>
                {% endif %}
                <a class="author-name"
                   href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro info(pobj,
              display_authors=True,
              display_icons=True,
              display_modified=True,
              display_tags=True) %}
    <div class="article-info">
        {% if pobj.date %}
            <i class="fa fa-calendar"></i> <abbr class="published" title="{{ pobj.date.isoformat() }}">{{ pobj.locale_date }}</abbr>
        {% endif %}
        {% if display_modified and pobj.modified %}
            (Letzte Änderung:
            <abbr class="modified" title="{{ pobj.modified.isoformat() }}">{{ pobj.locale_modified }}</abbr>)
        {% endif %}
        {% if display_icons %}
            {% if pobj.featured %}<abbr class="fa fa-star" title="featured"></abbr> {% endif %}
        {% endif %}
        {% if display_authors and pobj.authors %}
            von
            {% for author in pobj.authors %}
                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {%- if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        {% if display_tags and pobj.tags %}
            unter
            <span class="tags">
                {% for tag in pobj.tags %}
                    <a class="tag tag{{ tag.name.__hash__().__divmod__(10)[1] }}"
                       href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </span>
        {% endif %}
    </div>
{% endmacro %}


{% macro article_summary(article) %}
    <section class="article-summary">
        <header>
            <h2 class="article-title">
                {{ title_link(article) }}
            </h2>
            {{ info(article, display_modified=False) }}
        </header>
        <div class="summary">
            {{ article.summary|striptags }}
        </div>
        <div class="more">
            <i class="fa fa-arrow-right"></i>
            <a {#class="button-small pure-button"#}
               href="{{ SITEURL }}/{{ article.url }}">weiterlesen</a>
        </div>
    </section>
{% endmacro %}


{% macro feature_summary(article) %}
    <section class="feature-summary">
        <header>
            <h4 class="feature-title">
                {{ title_link(article) }}
            </h4>
        </header>
        <div class="summary">
            {{ article.summary|striptags }}
        </div>
        <div class="more">
            <i class="fa fa-arrow-right"></i>
            <a {#class="button-small pure-button"#}
               href="{{ SITEURL }}/{{ article.url }}">weiterlesen</a>
        </div>
    </section>
{% endmacro %}
