{# ex: set ft=htmljinja.jinja.html sw=4 ts=4 et: #}
{% extends "base.html" %}


{# web page title #}
{% block title %}{{ super() }}: {{ page.title|striptags}}{%endblock%}


{# html metadata #}
{% block html_metadata %}
    {{ super() }}
    {% for keyword in page.keywords %}
        <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    {% for description in page.description %}
        <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in page.tags %}
        <meta name="tags" contents="{{tag}}" />
    {% endfor %}
{% endblock %}


{# splash image #}
{% block splash_style %}
    {% if page.splash_image %}
        background-image: url('{{ SITEURL }}/{{ page.splash_image }}');
        {% if page.splash_image_position %}
            background-position: {{ page.splash_image_position }};
        {% endif %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}


{# splash text #}
{% block splash %}
    {{ macros.splash(page) }}
{% endblock %}


{# content #}
{% block content %}
    <article>
        <header>
            <h1>
                {{ macros.title_link(page) }}
            </h1>
            {{ macros.info(page, display_authors=false) }}
        </header>
        <div class="clearfix">
            {% if page.authors %}
                {{ macros.author_sidebar(page.authors, FSFE_AUTHORS) }}
            {% endif %}
            {{ page.content }}
        </div>
    <article>
{% endblock %}
